networks:
  monitoring-net:
    external: true
    
services:
  cadvisor:
    image: gcr.io/google-containers/cadvisor:v0.34.0
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    restart: unless-stopped
    expose:
      - 8080
    networks:
      - monitoring-net
    labels:
      glance.parent: monitoring
      glance.name: cAdvisor