networks:
  monitoring-net:
    external: true

services:
  gotify-bridge:
    image: druggeri/alertmanager_gotify_bridge:latest
    # ports: ['9094:8080']
    environment:
      - GOTIFY_TOKEN=${GOTIFY_TOKEN}
    env_file:
      - gotify.env
    networks:
      - monitoring-net
    labels:
      glance.parent: gotify-bridge
      glance.name: AlertManager

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    # ports:
    #   - "9093:9093"
    volumes:
      - ./config/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    restart: unless-stopped
    networks:
      - monitoring-net
    labels:
      glance.parent: monitoring
      glance.name: AlertManager
