networks:
  proxy-net:
    external: true
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - prowlarr-data:/config
    # ports:
    #   - 9696:9696
    restart: unless-stopped
    networks:
      - proxy-net
    labels:
      traefik.enable: true
      traefik.http.routers.prowlarr.rule: Host(`prowlarr.home.staniek.name`)
      traefik.http.routers.prowlarr.entrypoints: websecure
      traefik.http.routers.prowlarr.tls.certresolver: letsencrypt
      traefik.http.services.prowlarr.loadbalancer.server.port: 9696
      glance.name: Prowlarr
      glance.icon: sh:prowlarr
      glance.description: Indexer Manager
      glance.url: https://prowlarr.home.staniek.name
      glance.id: prowlarr

volumes:
  prowlarr-data: