networks:
  proxy-net:
    external: true
  postgres-net:
    external: true
services:
  drawdb:
    image: xinsodev/drawdb
    # ports:
    #   - 3000:80
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.drawdb.rule: Host(`drawdb.home.staniek.name`)
      traefik.http.routers.drawdb.entrypoints: websecure
      traefik.http.routers.drawdb.tls.certresolver: letsencrypt
      traefik.http.services.drawdb.loadbalancer.server.port: 80
      glance.name: DrawDB
      glance.icon: sh:database
      glance.description: "Collaborative Drawing Database"
      glance.url: https://drawdb.home.staniek.name
      glance.id: postgres
    networks:
      - proxy-net
      - postgres-net

  pgbackweb:
    image: eduardolat/pgbackweb:latest
    # ports:
    #   - "8085:8085" # Access the web interface at http://localhost:8085
    volumes:
      - /opt/docker-data/pgbackweb/backups:/backups # If you only use S3 destinations, you don't need this volume
    env_file: pgbackweb.env
    environment:
      # Optional environment variables are ignored, see the configuration section below for more details
      PBW_ENCRYPTION_KEY: ${PBW_ENCRYPTION_KEY} # Change this to a strong key
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - proxy-net
      - postgres-net
    labels:
      traefik.enable: true
      traefik.http.routers.pgbackweb.rule: Host(`pgbackup.home.staniek.name`)
      traefik.http.services.pgbackweb.loadbalancer.server.port: 8085
      traefik.http.routers.pgbackweb.entrypoints: websecure
      traefik.http.routers.pgbackweb.tls.certresolver: letsencrypt
      glance.name: PGBackWeb
      glance.icon: sh:database-backup
      glance.description: "PostgreSQL Backup Web Interface"
      glance.url: https://pgbackup.home.staniek.name
      glance.id: postgres
  postgres:
    image: docker.io/postgres:16-alpine
    pull_policy: always
    env_file: postgres.env
    environment:
      - |
        POSTGRES_INIT_SCRIPT=#!/bin/bash

        set -euo pipefail

        # Create databases and users with privileges for each service

        function create_user_and_database() {
          local database=$1
          local user=$2
          local password=$3
          if psql -lqt --username "$$POSTGRES_USER" --dbname "$$POSTGRES_DB" | cut -d \| -f 1 | grep -qw $database; then
              echo "Database $database already exists."
          else
              echo "  Creating user and database '$database'"
              psql -v ON_ERROR_STOP=1 --username "$$POSTGRES_USER" --dbname "$$POSTGRES_DB" <<-EOSQL
                  CREATE USER $user WITH PASSWORD '$password';
                  CREATE DATABASE $database;
                  GRANT ALL PRIVILEGES ON DATABASE $database TO $user;
                EOSQL
            fi
        }

        create_user_and_database "$${PGBACKWEB_POSTGRES_DB_NAME}" "$${PGBACKWEB_POSTGRES_USER}" "$${PGBACKWEB_POSTGRES_PASSWORD}"
        create_user_and_database "$${NETBOX_POSTGRES_DB_NAME}" "$${NETBOX_POSTGRES_USER}" "$${NETBOX_POSTGRES_PASSWORD}"
        create_user_and_database "$${DIODE_POSTGRES_DB_NAME}" "$${DIODE_POSTGRES_USER}" "$${DIODE_POSTGRES_PASSWORD}"
        create_user_and_database "$${HYDRA_POSTGRES_DB_NAME}" "$${HYDRA_POSTGRES_USER}" "$${HYDRA_POSTGRES_PASSWORD}"
        
        # psql -v ON_ERROR_STOP=1 --username "$$POSTGRES_USER" --dbname "$$POSTGRES_DB" <<-EOSQL
        #     -- PGBackWeb
        #     CREATE USER $${PGBACKWEB_POSTGRES_USER} WITH PASSWORD '$${PGBACKWEB_POSTGRES_PASSWORD}';
        #     CREATE DATABASE $${PGBACKWEB_POSTGRES_DB_NAME} OWNER $${PGBACKWEB_POSTGRES_USER};
        #     GRANT ALL PRIVILEGES ON DATABASE $${PGBACKWEB_POSTGRES_DB_NAME} TO $${PGBACKWEB_POSTGRES_USER};
            
        #     -- Netbox
        #     CREATE USER $${NETBOX_POSTGRES_USER} WITH PASSWORD '$${NETBOX_POSTGRES_PASSWORD}';
        #     CREATE DATABASE $${NETBOX_POSTGRES_DB_NAME} OWNER $${NETBOX_POSTGRES_USER};
        #     GRANT ALL PRIVILEGES ON DATABASE $${NETBOX_POSTGRES_DB_NAME} TO $${NETBOX_POSTGRES_USER};

        #     -- Diode
        #     CREATE USER $${DIODE_POSTGRES_USER} WITH PASSWORD '$${DIODE_POSTGRES_PASSWORD}';
        #     CREATE DATABASE $${DIODE_POSTGRES_DB_NAME} OWNER $${DIODE_POSTGRES_USER};
        #     GRANT ALL PRIVILEGES ON DATABASE $${DIODE_POSTGRES_DB_NAME} TO $${DIODE_POSTGRES_USER};

        #     -- Hydra
        #     CREATE USER $${HYDRA_POSTGRES_USER} WITH PASSWORD '$${HYDRA_POSTGRES_PASSWORD}';
        #     CREATE DATABASE $${HYDRA_POSTGRES_DB_NAME} OWNER $${HYDRA_POSTGRES_USER};
        #     GRANT ALL PRIVILEGES ON DATABASE $${HYDRA_POSTGRES_DB_NAME} TO $${HYDRA_POSTGRES_USER};
        # EOSQL
    command: |
      sh -c "
        echo \"$$POSTGRES_INIT_SCRIPT\" > /docker-entrypoint-initdb.d/01-init-databases.sh && \
        chmod +x /docker-entrypoint-initdb.d/01-init-databases.sh && \
        docker-entrypoint.sh postgres
      "
    ports: []
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${NETBOX_POSTGRES_USER} -d ${NETBOX_POSTGRES_DB_NAME}"]
      start_period: 20s
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - type: tmpfs
        target: /docker-entrypoint-initdb.d
        tmpfs:
          size: 1048576  # 1MB
    networks:
      - postgres-net

    labels:
      glance.name: Postgres Database
      glance.description: PostgreSQL Database Server
      glance.icon: sh:postgresql
      glance.parent: postgres

volumes:
  postgres-data: