networks:
  proxy-net:
    external: true
  postgres-net:
    external: true
services:
  pgbackweb:
    image: eduardolat/pgbackweb:latest
    # ports:
    #   - "8085:8085" # Access the web interface at http://localhost:8085
    volumes:
      - /opt/docker-data/pgbackweb/backups:/backups # If you only use S3 destinations, you don't need this volume
    environment:
      # Optional environment variables are ignored, see the configuration section below for more details
      PBW_ENCRYPTION_KEY: ${PBW_ENCRYPTION_KEY} # Change this to a strong key
      PBW_POSTGRES_CONN_STRING: ${PBW_POSTGRES_CONN_STRING}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - proxy-net
      - postgres-net
    labels:
      traefik.enable: true
      traefik.http.routers.pgbackweb.rule: Host(`pgbackup.home.staniek.name`)
      traefik.http.services.pgbackweb.loadbalancer.server.port: 8085
      traefik.http.routers.pgbackweb.entrypoints: websecure
      traefik.http.routers.pgbackweb.tls.certresolver: letsencrypt
      glance.name: PGBackWeb
      glance.icon: sh:database-backup
      glance.description: "PostgreSQL Backup Web Interface"
      glance.url: https://pgbackup.home.staniek.name
      glance.id: postgres
  postgres:
    image: docker.io/postgres:16-alpine
    pull_policy: always
    env_file: postgres.env
    environment:
      - |
        POSTGRES_INIT_SCRIPT=#!/bin/bash

        set -euo pipefail

        # Create databases and users with privileges for each service

        psql -v ON_ERROR_STOP=1 --username "$$POSTGRES_USER" --dbname "$$POSTGRES_DB" <<-EOSQL
            -- Netbox
            CREATE USER $${NETBOX_POSTGRES_USER} WITH PASSWORD '$${NETBOX_POSTGRES_PASSWORD}';
            CREATE DATABASE $${NETBOX_POSTGRES_DB_NAME} OWNER $${NETBOX_POSTGRES_USER};
            GRANT ALL PRIVILEGES ON DATABASE $${NETBOX_POSTGRES_DB_NAME} TO $${NETBOX_POSTGRES_USER};

            -- Diode
            CREATE USER $${DIODE_POSTGRES_USER} WITH PASSWORD '$${DIODE_POSTGRES_PASSWORD}';
            CREATE DATABASE $${DIODE_POSTGRES_DB_NAME} OWNER $${DIODE_POSTGRES_USER};
            GRANT ALL PRIVILEGES ON DATABASE $${DIODE_POSTGRES_DB_NAME} TO $${DIODE_POSTGRES_USER};

            -- Hydra
            CREATE USER $${HYDRA_POSTGRES_USER} WITH PASSWORD '$${HYDRA_POSTGRES_PASSWORD}';
            CREATE DATABASE $${HYDRA_POSTGRES_DB_NAME} OWNER $${HYDRA_POSTGRES_USER};
            GRANT ALL PRIVILEGES ON DATABASE $${HYDRA_POSTGRES_DB_NAME} TO $${HYDRA_POSTGRES_USER};
        EOSQL
    command: |
      sh -c "
        echo \"$$POSTGRES_INIT_SCRIPT\" > /docker-entrypoint-initdb.d/01-init-databases.sh && \
        chmod +x /docker-entrypoint-initdb.d/01-init-databases.sh && \
        docker-entrypoint.sh postgres
      "
    ports: []
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${NETBOX_POSTGRES_USER} -d ${NETBOX_POSTGRES_DB_NAME}"]
      start_period: 20s
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    volumes:
      - database-data:/var/lib/postgresql/data
      - type: tmpfs
        target: /docker-entrypoint-initdb.d
        tmpfs:
          size: 1048576  # 1MB
    networks:
      - postgres-net

    labels:
      glance.name: Postgres Database
      glance.description: PostgreSQL Database Server
      glance.icon: sh:postgresql
      glance.parent: postgres