networks:
  proxy-net:
    external: true
services:
  it-tools:
      image: corentinth/it-tools:latest
      container_name: it-tools
      ports:
          - 8080:80
      restart: unless-stopped
      networks:
        - proxy-net
      labels:
        traefik.enable: true
        traefik.http.routers.it-tools.rule: Host(`it-tools.home.staniek.name`)
        traefik.http.routers.it-tools.entrypoints: websecure
        traefik.http.routers.it-tools.tls.certresolver: letsencrypt
        traefik.http.services.it-tools.loadbalancer.server.port: 80
        glance.name: IT Tools
        glance.icon: sh:it-tools
        glance.description: Collection of IT Tools
        glance.url: https://it-tools.home.staniek.name
        glance.id: it-tools